@import "tailwindcss";

#root {
  overflow-x: hidden;
  width: 100%;
}
body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #f4f4f5;
}

.grid-bg {
  width: 200%;
  height: 120vh;

  background-image:none;
}